:root{
    --primary-color:#222; /* #0ba376 !important*/
    --secondry-color:#fff;
    font-family: 'Kalam', cursive;
    
}
*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ; 
}

body{
    position: relative;
    background-color: #222;
    background-image: url('src/hackin_code.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100% !important;
    height: fit-content;
    min-height:250vh;
    font-style:'Kalam';
}

nav, footer{
    height: fit-content;
    min-height: 15vh;
    width: 100%;
    background-color: var(--primary-color) ;
    opacity: 0.7;
    box-sizing: border-box;
    margin: 0px;
    padding: 1rem 4rem;
}

.nav-div{
    font-size: 36px;
    color: var(--secondry-color);
    float: right;
    margin: 0;
}
.float{
    float: left;
}

.menu-li{
    padding: 0 1rem;
    display: inline-block;
}
.menu-li a {
    text-decoration: none;
    color: inherit;
}
.menu-li:hover{
    /* text-decoration: underline; */
    color: #0ba376;
}
.home{
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-color:rgb(0, 0, 0,0.7);
}
h2.home_heading{
    /* text-align: center; */
    color: #0ba376;
    text-decoration: underline;
}
p.home_text{
    padding:0.4rem 1rem;
    margin: 0;
}
.main{
    height: fit-content;
    background-color: rgb(0, 0, 0,0.6);
    min-width: 100%;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
}
div#tranlate{
    text-align: center;
}
textarea#txt-area , div#output{
    height: fit-content !important;
    width: fit-content;
    min-width: 50%;
    min-height: 15vh;
    border: 2px solid #fff;
    margin: 1rem;
    padding: 1rem;
    font-size: 28px;
    background-color: #f1f1f1  ;
    border-radius: 10px;
}
div#output{
            margin: 0 auto;
            color: black;
            font-size: xxx-large;
            font-weight: bolder;
            font-style: normal;
            text-align: justify;
            font-family: auto; 
    }
h4{
    font-weight: 900;
    font-size: 28px;
    color:#fff;
    margin: 10px;

}
div.btn-div{
    width: 100%;    
}
button#btn-click{
    padding: 0.4rem;
    text-align: center;
    background-color: #0ba376;
    color: var(--secondry-color);
    border: 0px;
    font-family: 'Kalam', cursive;
    font-size: large;
    border-radius: 10px;
}
.link{
    color: #0ba376;

}
.conversion{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 1rem;
}
.img_sec{
    padding: 2rem;
    background-color: #fff;
    height: 150vh;
    border-radius: 20px;
    box-sizing: border-box;
    width: fit-content;
    margin: 0 auto;
}
footer.footer-div{
    /* position: absolute; */
    height: fit-content;
    background-color: rgb(0, 0, 0,0.9);
    bottom: 0;
    margin: 0;
    padding: 2rem 1rem;
}
.footer-heading{
    font-size:36px;
    color: var(--secondry-color);
    text-align: center;
}
.about-text{
    color: var(--secondry-color);
    font-size: 26px;
    text-align: center;
    box-sizing: content-box;
}
@media only screen and (max-width: 1024px) {

body,html{
    height:100% !important;
    width: 100% !important;
    position: static;
    background-position:center;
}
nav{
    height: fit-content;
    min-height: 40vh;
    padding: 1rem;
}
.nav-div{
    float: none;
    text-align: center;    
}
.menu-li{
    padding: 10px 0;
    display: block;
    font-size: 28px;
}
.float{
    float: none;
    color: #0ba376;
    font-size: 32px;
}
p.home_text{
    padding: 0.3rem;
}
textarea#txt-area , div#output{
    width: 100%;
    margin: 5px;
}
div.btn-div{
    margin: 2rem 0;
}
footer.footer-div{
    position: static !important;
    padding: 5rem 5px;
    height: fit-content;
    min-height: 120vh;
}
.about-text{
    text-align: unset;
}
#txt-area,#output{
    width: 80%;
    height:20vh;
}
#btn-click{
    border: 1px solid #fff;
}
.conversion{
    margin: 0;
    padding: 0;
    width: auto;
}
.main_image{
    height: 668px;
    width: 330px;
}
 .img_sec{  

    background-color: #fff;
    height: fit-content;
    border-radius: 0px;
    width: auto;
    margin: 0 -11px;
    padding: 0;
 }



}